ul#menu_horizontal { 
width : 915px; 
height : 50px;
margin : 2em 0 0 0;
padding : 0;
background-color : #E0ECF8;
border : 1px solid black;
list-style-type : none; 
font-size:larger;
}

 

ul#menu_horizontal li {
padding : 0 0.5em;  
line-height : 50px;
}

ul#menu_horizontal li.bouton_gauche {

float : left;

border-right : 1px dashed black; 

}

 

ul#menu_horizontal li.bouton_droite {

float : right;

border-left : 1px dashed black;

}

 

ul#menu_horizontal a {

color : black;

text-decoration : none;

padding : 0 0.5em; 

font :  0.8em "Trebuchet MS";

}

 

ul#menu_horizontal a:hover { text-decoration : underline; }

 

ul#menu_horizontal a img { 

border : none;

padding :  0 0.3em;

}
