button { 
  width:160px;
  height:66.25px;
background-color : #E0ECF8;
border : 1px solid black;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
      padding-top: 20px;
    padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    font-size:16px;
  
  }
  
  button:hover {
  background-color: #e7e7e7;
  color: white;
}

ul#menu_horizontal_2 { 
background-color : #EFF8FB;
list-style-type : none;
 }

button a {
 color:black ; text-decoration:none;   
}

h1 {
margin-bottom: 0px;
}

table.inner {
    width:100%;
}

table.inner td {
    width:100%;
}

table.inner tr {
    width:100%;
}
