button { 
  height : calc(100vw * 0.040);
width : calc(100vw * 0.094);
background-color : #E0ECF8;
border : 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
    font-size:1.1vw;
  
  }
  
  button:hover {
  background-color: #e7e7e7;
    cursor:pointer;
}

ul#menu_horizontal_2 { 
list-style-type : none;
  display:inline-block;
 }

button a {
 color:black ; text-decoration:none;   
}

.svg-container {
display: flex;
position: relative;
padding-bottom: 100%;
vertical-align: middle;
overflow: hidden;
}

.svg-content {
display: flex;
position: absolute;
top: 0;
left: 0;
}

@keyframes mymove {
  0% {
    transform:scaleX(0);
    transform-origin:right;
  }
  100% {
    transform: scaleX(1);
    transform-origin:right;
  }
}
