button { 
border-radius : 8px;
background-color : #E0ECF8;
border : 1px solid black;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
      padding-top: 20px;
    padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    font-size:16px;
  
  }
  
  button:hover {
  background-color: #e7e7e7;
  color: white;
}

table#menu_horizontal_2 { 
 border-spacing:150px;
height : 40px;
background-color : #EFF8FB;
list-style-type : none; 
 margin-left : auto;
 margin-right : auto;
 }

td a {
 color:black ; text-decoration:none;   
}
