#slider > img {
 height: calc(100vw * 0.176);
  width: calc(100vw * 0.216);
}

#precedent, #suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
}

#slider:hover #precedent, #slider:hover #suivant {
    opacity: 1;
}
