
.country {
	fill:#ffffff;
	stroke:#000000;
	stroke-width:0.2mm;
}


#country484 {
fill:url(#dots1);
}

#country840 {
fill:url(#diagonalHatch);
}

#country124 {
fill:url(#diagonalHatch2);
}


#country304 {
fill:#8bd3c2
;
}


#country076 {
fill:#fffb8f;
}

#country032 {
fill:url(#diagonalHatch3);
}

    
#country250 {
fill:url(#diagonalHatch5);
}


#country152 {
fill:url(#diagonalHatch4);
}


#country156 {
fill:#fbca3c;
}


#country858 {
fill:#d3ac78;
}


#country600 {
fill:#75bf4a;
}


#country068 {
fill:#fcc52f;
}


#country604 {
fill:#b6ab3a;
}

#country218 {
fill:#7bb0c7;
}


#country170 {
fill:#d5e23e;
}

#country862 {
fill:#fda788;
}

#country328 {
fill:#bc5a54;
}

#country740 {
fill:#0cad8f;
}

#country238 {
fill:#95ba8f;
}

#country591 {
fill:#bc9f48;
}

#country188 {
fill:#6ca94d;
}

#country558 {
fill:#a1776b;
}

#country340 {
fill:#b9a58d;
}

#country222 {
fill:#c96c65;
}

#country320 {
fill:#1f7a6f;
}

#country084 {
fill:#afb691;
}




#country192 {
fill:#e7aa96;
}

#country332 {
fill:#89bda6;
}

#country780 {
fill:#abbbc1;
}

#country630 {
fill:#b2d48e;
}

#country214 {
fill:#dada7d;
}

#country388 {
fill:#aeb398;
}

#country044 {
fill:#add5d6;
}


#country012 {
fill:#fec939;
}

#country466 {
fill:#fffc91;
}

#country724 {
fill:url(#diagonalHatch7);
}

#country620 {
fill:url(#diagonalHatch8);
}

#country352 {
fill:#906557;
}

#country643 {
fill:#fffa94;
}

#country578 {
fill:#72a9c6;
}

#country246 {
fill:url(#dots2);
}

#country496 {
fill:#0bb197;
}

#country398 {
fill:#d6e04b;
}

#country356 {
fill:#7ac358;
}

#country682 {
fill:#f6f99a;
}

#country380 {
fill:url(#diagonalHatch9);
}

#country826 {
fill:url(#diagonalHatch6);
}

#country276 {
fill:#ccda50;
}

#country036 {
fill:#fefb88;
}

#country752 {
fill:#fba887;
}

#country616 {
fill:url(#diagonalHatch11);
}

#country792 {
fill:#f6a98e;
}

#country804 {
fill:#facc37;
}

#country112 {
fill:#9ba244;
}

#country710 {
fill:#76bd4e;}

#country231 {
fill:#8dd6ca;}

#country818 {
fill:#7bc452;
}

#country504 {
fill:#ad836c;
}

#country450 {
fill:#f8cb27;
}

#country368 {
fill:#dde34f;
}

#country364 {
fill:#8dd7cb;
}

#country586 {
fill:#b6af42;
}

#country004 {
fill:#fdfe9c;
}

#country795 {
fill:#b38976;
}

#country860 {
fill:#fcad8c;
}

#country372 {
fill:#68ac56;
}

#country208 {
fill:#71ac9e;
}

#country762 {
fill:#b89f90;
}

#country417 {
fill:#14a890;
}

#country756 {
fill:url(#diagonalHatch10);
}

#country300 {
fill:#b08976;
}

#country887 {
fill:#b5a946;
}

#country512 {
fill:#0bb39a;
}

#country784 {
fill:#ad8e4e;}

#country634 {
fill:#8d7d7e;}

#country408 {
fill:#9f7d71;}

#country410 {
fill:url(#diagonalHatch13);}

#country392 {
fill:url(#diagonalHatch12);}

#country360 {
fill:#b5aa3b;}

#country554 {
fill:#eec232;}

#country598 {
fill:#d6de3e;}

#country540 {
fill:url(#diagonalHatch15);}

#country242 {
fill:#80cec1;}

#country548 {
fill:#21a88d;}

#country090 {
fill:#e9d2a5;}

#country626 {
fill:#94706a;}

#country144 {
fill:#b08877;}

#country788 {
fill:#7bc452;}

#country434 {
fill:#b8b044;}

#country056 {
fill:#c06559;}

#country528 {
fill:#608498;}

#country203 {
fill:#179881;}

#country703 {
fill:#80695a;}


#country414 {
fill:#6f9956;}

#country760 {
fill:#199c8a;}

#country400 {
fill:#d6b448;}

#country422 {
fill:#4e8790;}


#country196 {
fill:#b8c8cd;}

#country376 {
fill:#a88e6d;}

#country275 {
fill:#8dd5c6;}

#country040 {
fill:#c18565;}

#country348 {
fill:#ebd5af;}

#country642 {
fill:#7eb5ad;}

#country498 {
fill:#596e88;}

#country100 {
fill:#dd6963;}

#country688 {
fill:#a98767;}

#country440 {
fill:#866659;}

#country428 {
fill:#8ac4b8;}

#country233 {
fill:#bda080;}

#country478 {
fill:#dae046;}


#country732 {
fill:#0fad99;}

#country260 {
fill:#7db8aa;}

#country562 {
fill:#8ed6cb;}

#country148 {
fill:#0cb598;}

#country516 {
fill:#fafa8b;}

#country072 {
fill:#fcc930;}

#country716 {
fill:#b18470;}

#country508 {
fill:#fba887;}

#country426 {
fill:#9c5349;}

#country748 {
fill:#d9bea1;}

#country024 {
fill:#dae242;}

#country894 {
fill:#8bc7bf;}

#country454 {
fill:#e5d4b1;}

#country834 {
fill:#7ec04e;}

#country180 {
fill:#fffd90;}

#country108 {
fill:#be636b;}

#country646 {
fill:#e9a68f;}

#country800 {
fill:#f9aa8e;}

#country404 {
fill:#fdc837;}

#country706 {
fill:#fefd92;}

#country232 {
fill:#7ea9c6;}

#country728 {
fill:#978a44;}

#country140 {
fill:#b38876;}

#country120 {
fill:#fcc93b;}

#country566 {
fill:#7ac052;}

#country204 {
fill:#6f96b8;}

#country768 {
fill:#ebd1ab;}

#country288 {
fill:#faad8a;}

#country854 {
fill:#b2aa42;}

#country384 {
fill:#f9c930;}

#country430 {
fill:#ad8673;}

#country694 {
fill:#cad4d8;}

#country324 {
fill:#73bc50;}

#country624 {
fill:#c7a385;}

#country686 {
fill:#fadbb1;}

#country270 {
fill:#9d897e;}

#country178 {
fill:#d0aa8b;}

#country266 {
fill:#f7dbb8;}

#country226 {
fill:#d5726b;}

#country729 {
fill:#dee24c;}

#country705 {
fill:#708da1;}

#country191 {
fill:url(#diagonalHatch13);}

#country070 {
fill:#bdc44d;}

#country499 {
fill:#579a92;}

#country008 {
fill:#156258;}

#country807 {
fill:#d8b64f;}

#country031 {
fill:#d46466;}

#country051 {
fill:#af9679;}

#country268 {
fill:#5ea44f;}

#country524 {
fill:#81add6;}


#country064 {
fill:#c5635d;}


#country050 {
fill:#e5ea95;}

#country104 {
fill:#88d4ca;}


#country764 {
fill:#d6e145;}


#country116 {
fill:#f9dcac;}

#country458 {
fill:#1c876a;}

#country418 {
fill:#b0866c;}


#country704 {
fill:#efa68a;}


#country096 {
fill:#58808d;}

#country158 {
fill:#d2c454;}
#country608 {
fill:#e06666;}



    
.country:hover{
opacity:0.75;
}
    
